html {
    font-family: "Poppins";
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    text-align: center;
}

.flex-item-left {
    flex: 50%;
}
  
.flex-item-right {
    flex: 50%;
}

@media (max-width: 800px) {
    .flex-item-right,
    .flex-item-left {
      flex: 100%;
    }
}

.background-lp {
    width: 100%;
    height: 800px;
    background-image: url(./assets/images/bacground_LP.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    z-index: -1;
    position: absolute;
    
}

img.lp {
    position: absolute;
  left: 0px;
  top: 0px;
  z-index: -5;
}


.lp-header {
    color: white;
    font-size: 90px;
    margin-left: 123px;
    margin-top: 282px;
    text-align: left;
}

.lp-p {
    color: white;
    font-size: 24px;
    margin-left: 123px;
    text-align: left;
}

.lp-brand {
    width: 1194px;
    height: 180px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin-top: 700px;
    z-index: 1;
    text-align: center;
    
}

.brand-img {
    text-align: center;
}

.image-margin {
    margin-top: 20px;
    margin-right: 40px;
}

.lp-brand-image {
    display: flex;
    justify-content: center;
}

.start-shopping-button {
    margin-top: 40px;
    width: 200px;
    height: 60px;
    background-color: #1D5EDD;
    border-radius: 60px;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    justify-content: left;
}

.shopping-margin {
    display: flex;
    justify-content: center;
}

.shopping-main {
    display: flex;
    justify-content: flex-start;
}

.shopping-header {
    font-size: 24px;
    margin-right: 130px;
}


input[type=checkbox] {
    margin-bottom: 20px;
}

.shopping-card-margin {
    margin-right: 21px;
    margin-top: 20px;
}

.product-card {
    width: 195px;
    height: 408px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

a.card:link, a.card:visited {
    text-decoration: none;
    color: black;

}

.card-p {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-left: 14px;
    margin-top: 16px;
}

.card-sold {
    margin-top: 90px;
}

.availibility-margin {
    margin-right: 64px;
}

.add-to-cart-button {
    background-color: #1D5EDD;
    width: 153px;
    height: 44px;
    font-size: 14px;
    color: white;
    border-radius: 60px;
    border: none;
    font-weight: bold;
}

.apply-filter-button {
    margin-top: 20px;
    background-color: #1D5EDD;
    width: 153px;
    height: 44px;
    font-size: 14px;
    color: white;
    border-radius: 60px;
    border: none;
    font-weight: bold;
}

.add-to-cart-button:hover {
    background-color: white;
    color: #1d5edd;
    border: 1px;
    border-style: solid;
}

.apply-filter-button:hover {
    background-color: white;
    color: #1d5edd;
    border: 1px;
    border-style: solid;
}

.login-border {
    background-color: #343434;
    width: 100%;
    height: 1024px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-margin{
    flex: 50%;
    align-self: center;
}

.login-header {
    font-weight: 700;
    font-size: 50px;
}

.login-p {
    font-size: 16px;
    color: #00000066;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.margin-form {
    margin-left: 10%;
    margin-right: 10%;
}

.login-button {
    background-color: #1D5EDD;
    width: 400px;
    height: 60px;
    font-size: 16px;
    color: white;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    margin-top: 40px;
}

.login-google-button {
    width: 400px;
    height: 60px;
    background-color: white;
    border: 1px;
    border-style: solid;
    border-radius: 30px;
    border-color: #1D5EDD;
    font-size: 16px;
    font-weight: bold;
}

.login-margin-google {
    justify-content: center;
    text-align: left;
}

.login-google-flex {
    flex: 40%;
    text-align: right;
    padding-right: 14px;
}

.login-google-flex-right {
    display: flex;
    align-items: center;
    justify-content: left;
    flex: 60%;
}







/* header and footer */
.header{
    position: fixed;
    padding: 30px;
    text-align: center;
    background: white;
    color: black;
    border: 5px;
    font-size: 30px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
    border-radius: 60px;
    display: flex;
    justify-content: flex-start;
  }
  
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 600px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 16px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
  }
  
  .dropdown-content a:hover {
    background-color: #1d5edd;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropbtn:hover {color: #1d5edd}
  
  .searchBar {
    width: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
  }
  
  #searchQueryInput {
    width: 533px;
    height: 40px;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }
  
  #searchQuerySubmit {
    width: 50.09px;
    height: 40px;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  #searchQuerySubmit:hover {
    cursor: pointer;
  }
  
  .wishlist-header{
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  
  .cart-header{
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  
  .username-header{
    margin-left: 50px;
    font-size: 16px;
  }
  
  .username-header:hover{
    color:#1d5edd;
  }

  .footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #1d5edd;
    color: white;
    text-align: center;
    display: flex;
    justify-content: flex-start;
  }
  
  .footer-1{
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 70px;
    text-align: left;
  }
  
  .footer-2{
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 70px;
    text-align: left;
  }
  
  a.footer:link{
    color: white;
    text-decoration: none;
  }
  
  a.footer:visited{
    color: white;
    text-decoration: none;
  }
  
  a.footer:hover{
    color: white;
    text-decoration: underline;
  }
  
  .footer-3{
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 70px;
    text-align: left;
  }
  
  .footer-4{
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 170px;
    text-align: left;
  }
  
  .contact-us-button {
    background-color: white;
    width: 153px;
    height: 44px;
    font-size: 14px;
    color: #1d5edd;
    border-radius: 60px;
    border: none;
    font-weight: bold;
    margin-left: 50%;
  }
  
  .contact-us-button:hover {
    background-color: white;
    color: #1d5edd;
    border: 1px;
    border-style: solid;
  }
  
  a.contact-button:link{
    color: #1d5edd;
    text-decoration: none;
  }
  
  a.contact-button:visited{
    color:#1d5edd;
    text-decoration: none;
  }
  
  a.contact-button:hover{
    color: #1d5edd;
    text-decoration: none;
  }
  /* header and footer end */