html {
  font-family: "Poppins";
  font-size: 16px;
}

* {
  font-family: "Poppins";
  box-sizing: border-box;
}

/* header and footer */
.header{
  position: fixed;
  padding: 30px;
  text-align: center;
  background: white;
  color: black;
  border: 5px;
  font-size: 30px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
  border-radius: 60px;
  display: flex;
  justify-content: flex-start;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 600px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  font-size: 16px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #1d5edd;
  color: white;
}

.dropdown:hover .dropdown-content {display: block;}

.dropbtn:hover {color: #1d5edd}

.searchBar {
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

#searchQueryInput {
  width: 533px;
  height: 40px;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 50.09px;
  height: 40px;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.wishlist-header{
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.cart-header{
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.username-header{
  margin-left: 50px;
  font-size: 16px;
}

.username-header:hover{
  color:#1d5edd;
}

.footer {
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #1d5edd;
  color: white;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.footer-1{
  margin-top: 70px;
  margin-left: 200px;
  margin-bottom: 70px;
  text-align: left;
}

.footer-2{
  margin-top: 70px;
  margin-left: 200px;
  margin-bottom: 70px;
  text-align: left;
}

a.footer:link{
  color: white;
  text-decoration: none;
}

a.footer:visited{
  color: white;
  text-decoration: none;
}

a.footer:hover{
  color: white;
  text-decoration: underline;
}

.footer-3{
  margin-top: 70px;
  margin-left: 200px;
  margin-bottom: 70px;
  text-align: left;
}

.footer-4{
  margin-top: 70px;
  margin-left: 200px;
  margin-bottom: 170px;
  text-align: left;
}

.contact-us-button {
  background-color: white;
  width: 153px;
  height: 44px;
  font-size: 14px;
  color: #1d5edd;
  border-radius: 60px;
  border: none;
  font-weight: bold;
  margin-left: 50%;
}

.contact-us-button:hover {
  background-color: white;
  color: #1d5edd;
  border: 1px;
  border-style: solid;
}

a.contact-button:link{
  color: #1d5edd;
  text-decoration: none;
}

a.contact-button:visited{
  color:#1d5edd;
  text-decoration: none;
}

a.contact-button:hover{
  color: #1d5edd;
  text-decoration: none;
}
/* header and footer end */

a.blue-button:link{
  color: white;
  text-decoration: none;
}

a.blue-button:visited{
  color: white;
  text-decoration: none;
}

a.blue-button:hover{
  color: #1d5edd;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  text-align: center;
}

.flex-container-landing-page{
  margin-top: 141px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  text-align: center;
}

.flex-item-left {
  background-color: white;
  flex: 50%;
}

.flex-item-right {
  background-color: white;
  flex: 50%;
}

.margin-container-right {
  margin-right: 20%;
}

@media (max-width: 800px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}

.product-name {
  text-align: left;
  font-size: 32px;
}

.price {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.add-to-cart-button {
  background-color: #1d5edd;
  width: 153px;
  height: 44px;
  font-size: 14px;
  color: white;
  border-radius: 60px;
  border: none;
  font-weight: bold;
  margin-left: 50%;
}

.add-to-cart-button:hover {
  background-color: white;
  color: #1d5edd;
  border: 1px;
  border-style: solid;
}

.buy-now-button {
  background-color: #1d5edd;
  width: 153px;
  height: 44px;
  font-size: 14px;
  color: white;
  border-radius: 60px;
  border: none;
  font-weight: bold;
  margin-left: 50%;
}

.buy-now-button:hover {
  background-color: white;
  color: #1d5edd;
  border: 1px;
  border-style: solid;
}

.text-align-left{
  text-align: left;
}

.cart-and-wishlist{
  margin-left: 10%;
  margin-right: 10%;
}

.cart-text{
  margin-left: 10%;
}

.summary-left{
  text-align: left;
  font-weight: bold;
}

.summary-right{
  text-align: right;
  font-weight: bold;
}